body {
    background: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#gameCanvas {
    background: #fff;
    border: 3px solid #000;
    box-shadow: none;
}
